*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background-color: rgba(0,0,0,0.8);
}

.position-ab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start button{
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    /* border: 2px solid rgb(201, 69, 190); */
    border-radius: 5px;
    /* color: rgb(27, 137, 227); */
}
.start button:hover{
    background-color: black;
    color: #c3c3c3;
    box-shadow: 3px 3px black;

}

.info{
    /* display: none; */
    background-color: white;
    padding: 5px 0;
    height: 300px;
    width: 500px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
.info.activeinfo{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.info p{
    margin: 20px 10px;
    font-size: 18px;
}
.btns{
    text-align: right;
}
.btns button{
    margin: 5px 5px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
    border: 2px solid cadetblue;
    border-radius: 5px;
}
.btns button:hover{
    background-color: #38a4de;
    /* color: #88ec17; */
}
.info-list span{
    color: rgb(47, 27, 227);
    font-size: 18px;
    font-weight: bold;
}

.info .blc{
    
    padding: 10px;
    font-size: 20px;
   
    
}
.app{
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.quiz_Q{
    /* display: none; */
background-color: white;
/* height: 300px; */
border-radius: 5px;
padding: 10px 0;
opacity: 0;
pointer-events: none;
transform: translate(-50%, -50%) scale(0.9);
}
.quiz_Q.activeQuiz{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.questions{
    height: 300px;
    width: 500px;
}

.first-app p  {
    font-weight: bold;
font-size: 17px;
margin: 0 5px;
margin-top: 17px;


}
.second-app p{
    font-weight: bold;
    font-size: 17px;
    margin: 10px 5px;
background-color: rgb(187, 183, 225);
padding: 10px;
border-radius: 5px;
}
.second-app p span{
background-color: black;
color: white;
padding: 5px ;
border-radius: 5px;

}
.question h3{
margin-left: 10px;
margin-top: 10px;
}
.option p{
margin-left: 10px;
margin-top: 15px;
background-color: rgb(236, 225, 225);
font-size: 17px;
padding: 5px;
border-radius: 5px;
width: 80%;
cursor: pointer;
border: 2px solid cadetblue;

}
.option p:hover{
    
    background-color: #38a4de;

}
.option p.correct{
    /* background-color: rgb(34, 124, 214); */
    color: #38413a;
    background: #0ce8bc;
    border-color: #c3c3c3;

}
.option p.incorrect{
    /* background-color: rgb(34, 124, 214); */
    color: white;
    background: #ea7979;
    border-color: #c3c3c3;

}
.option p.disabled{
    pointer-events: none;
}
.foot-1{
    margin-top: 15px;
    margin-left: 10px;
}
.foot-2{
    margin-top: 10px;
    margin-right: 10px;
   
}
.foot-2 button{
    padding: 8px 10px;
border-radius: 5px;
cursor: pointer;
border: 2px solid cadetblue;


}
.foot-2 button:hover{
    background-color: #38a4de;

}
.result{
    /* display: none; */
    background-color: #ffffff;
    padding: 50px 40px;
    /* border-radius: 5px; */
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
.result.activeResult{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.icon h1{
    font-size: 80px;
    
}
.icon p{
    font-size: 17px;
    line-height: 25px;
}
.icon button{
    padding: 7px 10px;
    border-radius: 5px;
    
border: 2px solid cadetblue;

    cursor: pointer;
    margin-top: 10px;

}
.icon button:hover{
    background-color: #38a4de;

}
.icon .gap{
    margin-right: 10px;
}
